In [68]:
# import libraries
import pandas as pd
import numpy as n
import os

In [69]:
# import data: the clean orders data ords_clean.csv and the new dataset
path = r'/Users/azadehrezaei/Desktop/Career Foundry/Achievement 4/08-2021 Instacart Basket Analysis'
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'prepared Data', 'orders_clean.csv'), index_col = False)

df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products_prior.csv'))

In [70]:
# check the dimension of df_ords_prior
df_ords_prior.shape

(32434489, 4)

In [71]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [72]:
df_ords = df_ords.drop(columns = ['Unnamed: 0'])

In [73]:
df_ords.shape

(3421083, 6)

In [74]:
df_ords.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,-1.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [77]:
# merge with df_ords (by default this is inner merge)
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [78]:
df_merged_large.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,-1.0,196,1,0,both
1,2539329,1,1,2,8,-1.0,14084,2,0,both
2,2539329,1,1,2,8,-1.0,12427,3,0,both
3,2539329,1,1,2,8,-1.0,26088,4,0,both
4,2539329,1,1,2,8,-1.0,26405,5,0,both

In [79]:
# This shows the result of the default inner merge:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [80]:
# Export data to pkl

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [81]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'prepared Data', 'prods_clean.csv'), index_col = False)

In [82]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [83]:
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [84]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [86]:
df_prods.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_clean.csv'))